.banner {
  width:100%;
  min-height:500px;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.banner a {
  font-weight:700;
  letter-spacing: 1px;
  color: var(--color--primary);
  text-decoration: none;
  padding: 0;
  margin:8rem 0 0;
  font-size: 19px;
}

.banner h1 {
  font-size: 94px;
  font-family: 'Noe Display',serif;
  margin:0;
  padding: 0;
}

.banner p {
  font-size:32px;
  font-weight: lighter;
}
